html {
    --background-primary: white;
    --background-secondary: #f7f8fa;
    --background-tertiary: #ecedf2;
    --blue: #134497;
    --tone: #9aa0a7;
    --light-tone: #cacaca;
    --logo: var(--bs-gray-700);
    --text-primary: black;
    --text-secondary: black;
    --text-tertiary: var(--bs-gray-600);
    overflow-y: scroll;
}

@media (prefers-color-scheme: dark) {
    /* html {
        --background-primary: #151e2b;
        --background-secondary: #11171e;
        --background-tertiary: #202d3d;
        --blue: #69a5dc;
        --logo: #cfd1d5;
        --light-tone: #2c4059;
        --text-primary: white;
        --text-secondary: #cfd1d5;
        --text-tertiary: var(--bs-gray-600);
    }
    .react-loading-skeleton {
        --base-color: #162638;
        --highlight-color: var(--light-tone);
    } */
}
        

html[offcanvas="true"] {
    overflow-y: clip;
}

body {
    background-color: var(--background-secondary);
    color: var(--text-secondary);
}

.offcanvas-padding {
    padding-right: 6px;
}

@media (hover: none) and (pointer: coarse) {
    .offcanvas-padding {
        padding-right: 0;
    }
}

a {
    color: var(--blue)
}

a:hover {
    color: var(--blue)
}

.anchor::before {
  content: '';
  display: block;
  height: 40px;
  margin-top: -40px;
  visibility: hidden;
}

.active {
    background-color: var(--background-secondary);
}

.navbar {
    background-color: var(--background-tertiary) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--blue);
}

.search {
    background-color: var(--background-tertiary);
}

.ozuwikiheader {
    font-family: 'Times New Roman', Times, serif;
}

.toc-container-article {
    overflow-x: hidden;
    color: var(--text-tertiary);
}

.toc-container-article.scrollable{
    max-height: calc(100vh - 80px);
    overflow-y: auto;
}

.offcanvas-toc-container {
    max-height: calc(100vh - 80px);
    overflow-y: auto;
}

.sidebar-column {
    background-color: var(--background-secondary);
}

.main-column {
    background-color: var(--background-primary);
    overflow-x: hidden;
}

.main-column h1, .main-column h2, .main-column h3, .main-column h4, .main-column h5, .main-column h6 {
    font-family: 'Times New Roman', Times, serif;
}

#article-title {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--background-primary);
    color: var(--text-primary);
}

.panel-column {
    font-size: 0.9rem;
    background-color: var(--background-secondary);
}

.panel-column .list-group-item {
    background-color: var(--background-secondary);
}

.account-dropdown {
    background-color: var(--background-secondary);
}

.account-dropdown .nav-link {
    padding: 0.5rem;
}

.navbar-nav .dropdown-menu {
    padding: 0;
    position: absolute;
}

.dropdown-menu {
    background-color: var(--background-primary);
}

.toc-counter {
    color: var(--gray)
}

.toc-content {
    text-decoration: none;
}

.toc-content:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
}

::-webkit-scrollbar-track {
    background-color: var(--background-tertiary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-tone);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--tone);
}

.search-offcanvas {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 380px;
    overflow-y: auto;
    padding-bottom: 40vh;
    background-color: var(--background-secondary);
}

#nekonadegoe::after {
    display: none;
}

#nekonadegoe {
    padding: 0;
    color: var(--logo);
}

#nekonadegoe2::after {
    display: none;
}

#nekonadegoe2 {
    padding: 0;
}

.navbar-logo {
    padding: 0.25rem 0.75rem;
    font-size: 1.2rem;
    line-height: 1;
    background-color: transparent;
    color: var(--logo);
    height: 40px;
}

.navbar-logo:hover:not([disabled]) {
    background-color: var(--background-secondary);
}

.nav-link:hover:not([active]) {
    background-color: var(--background-secondary);
}

.nav-link {
    transition: none;
    color: var(--blue);
}

.nav-link:hover {
    color: var(--blue);
}

.nav-link:focus {
    color: var(--blue);
}

.nav-link.disabled {
    color: var(--text-secondary);
}

.offcanvas-header .btn-close {
    margin-left: auto;
    padding-right: 2rem;
}

.offcanvas-header .btn-close:focus {
    outline: none;
    box-shadow: none;
}

#navbar-item-fullwidth {
    background-color: var(--background-secondary);
}

.form-control {
    color: var(--text-secondary) !important;
}

.border-start {
    border-color: var(--text-tertiary) !important;
}

.primary-text {
    color: var(--text-primary);
}

.markdown pre {
    white-space: unset;
}

.markdown img {
    max-width: 500px;
    width: 100%;
}

